rules_version = '2';

service cloud.firestore {
    match /databases/{database}/documents {

        match /workflows_v1/{workflowId} {
            allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;

            allow update: if request.auth != null 
                && resource.data.userId == request.auth.uid
                && request.resource.data.userId == request.auth.uid;

            allow read, delete: if request.auth != null && resource.data.userId == request.auth.uid;
        }

        match /secrets_v0/{secretId} {
            allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;

            allow update: if request.auth != null 
                && resource.data.userId == request.auth.uid
                && request.resource.data.userId == request.auth.uid;

            allow read, delete: if request.auth != null && resource.data.userId == request.auth.uid;
        }

        match /{document=**} {
            allow read, write: if false;
        }
    }
}
